p {
	display: inline;
}
img {
	max-width: 100%;
}
code {
	&.a {
		font-family: Consolas,"courier new";
		color: blue;
		background-color: #8f0505;
		padding: 2px;
		font-size: 105%;
	}
}
pre {
	background: #f4f4f4;
	border: 1px solid #ddd;
	border-left: 3px solid #64DD17;
	color: #666;
	page-break-inside: avoid;
	font-family: monospace;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1em 1.5em;
	display: block;
	word-wrap: break-word;
	padding: 1em;
}
li {
	&.none {
		list-style: none;
	}
	&.listyle {
		&::before {
			content: "\2022";
			color: green;
			font-weight: bold;
			display: inline-block;
			width: 1em;
			margin-left: -1em;
		}
	}
}
ul {
	li {
		pre {
			margin-left: -1em;
			padding: 1em;
		}
	}
}
